# Скопируй этот файл в .env и заполни значения
# cp .env.example .env

DB_PASSWORD=your_strong_db_password

# Минимум 32 символа!
JWT_KEY=your-super-secret-key-min-32-characters-long!

EMAIL_ADDRESS=your@gmail.com
EMAIL_PASSWORD=xxxx xxxx xxxx xxxx
